asttokens==2.0.5
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
executing==0.6.0
Flask==2.0.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
icecream==2.1.0
idna==2.10
itsdangerous==2.0.0
Jinja2==3.0.0
MarkupSafe==2.0.0
Pygments==2.9.0
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.15
urllib3==1.26.4
Werkzeug==2.0.1
